<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd  
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <bean id="placeholderConfig"
        class="net.beyondts.spring.ServerBasedPropertyPlaceholderConfigurer"
        init-method="init">
        <property name="configs">
            <list>
                <value>etc/Q-sys.properties</value>
            </list>
        </property>
        <property name="dbDriver" value="${Q-sys.db.class}" />
        <property name="dbUrl" value="${Q-sys.db.url}" />
        <property name="dbUser" value="${Q-sys.db.user}" />
        <property name="dbPwd" value="${Q-sys.db.pwd}" />
        <property name="sys" value="${Q-sys.module}" />
        <property name="dbTable" value="SYS_PROPERTY" />
        <property name="keyCol" value="PROPKEY" />
        <property name="valueCol" value="PROPVALUE" />
        <property name="moduleCol" value="MODULE" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="addToSystem" value="true" />
    </bean>
</beans>